<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6"  lang="<%= I18n.locale %>"> <![endif]--><!--[if IE 7 ]>    <html class="ie ie7"  lang="<%= I18n.locale %>"> <![endif]--><!--[if IE 8 ]>    <html class="ie ie8"  lang="<%= I18n.locale %>"> <![endif]--><!--[if IE 9 ]>    <html class="ie ie9"  lang="<%= I18n.locale %>"> <![endif]--><!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>">
<!--<![endif]-->
  <head data-hook="inside_head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= render :partial => 'spree/shared/head' %>
    <script type="text/javascript" id="data-layer">
      var dataLayer = [];
      <%- if try_spree_current_user -%>
      dataLayer.push({"userId":"<%= try_spree_current_user.try(:email) %>"});
      <%- elsif @order -%>
      dataLayer.push({"userId":"<%= @order.try(:email) %>"});
      <%- end -%>
      dataLayer.push({"appId": 6299 });
      <%= yield :data_layer %>
    </script>


  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">

    <%= render :partial => 'spree/shared/header' %>

    <div id="wrapper" class="row" data-hook><div class="container">
<%= render :partial => "spree/shared/main_nav_bar" if store_menu? %>

      <%= breadcrumbs(@taxon) %>

      <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>

      <div id="content" class='columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>' data-hook>
        <%= flash_messages %>
        <%= yield %>
      </div>


    </div></div>
    <%= render :partial => 'spree/shared/footer' %>

    <%= render :partial => 'spree/shared/google_analytics' %>
  <script>
  Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
</script>

</body>
</html>
