<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to t(:home), spree.root_path %></li>
<% if spree_current_user %>
  <li><%= link_to t(:my_account), spree.account_path %></li>
  <li><%= link_to t(:logout), spree.logout_path %></li>
<% else %>
  <li id="link-to-login"><%= link_to t(:login), spree.login_path %></li>
<% end %>

    <li id="link-to-cart" data-hook><%= link_to_cart %></li>
  <li class="<%= (request.fullpath.gsub('//','/') == '/contact-us') ? 'current' : 'not'%>"><%= link_to t('spree.contact_us.contacts.new.contact_us'), '/contact-us'  %></li>
<li id="creditcard">
  <a href="http://www.credit-card-logos.com" title="Bequem online bezahlen mit Kreditkarte" target="_blank">
    <%= image_tag 'store/credit-card-logo.gif', alt: "Kreditkarten logo MasterCard, Visa", width: "75", height: "23", border: "0" %>
  </a>
</li>
<li id="link-to-sofort" title="Bequem online bezahlen mit  SOFORT Überweisung.">
  <%= link_to 'https://www.sofort.de/', target: '_blank' do %>
    <%= image_tag 'store/sofort-logo.png', alt: "Triodos Bank Logo" %>
  <% end %>
</li>
<li id="link-to-paypal">
  <!-- PayPal Logo -->
  <a href="https://www.paypal.com/de/webapps/mpp/paypal-popup" title="So funktioniert PayPal" target="_blank" onclick="javascript:window.open('https://www.paypal.com/de/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=715, height=539); return false;">
    <img src="https://www.paypalobjects.com/webstatic/de_DE/i/de-pp-logo-100px.png" border="0" alt="PayPal Logo">
  </a>
  <!-- PayPal Logo -->
</li>
<li id="link-to-triodos" title="Mit meinem Geld beweg ich was.">
  <%= link_to 'http://www.triodos.de/', target: '_blank' do %>
    <%= image_tag 'store/triodos-bank-logo.png', alt: "Triodos Bank Logo"%>
  <% end %>
</li>
</ul>
</nav><%= yield :teaser %>
