<% content_for :sidebar_title do %>
  <%= t(:configurations) %>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul class="sidebar" data-hook="admin_configurations_sidebar_menu">
      <%= configurations_sidebar_menu_item t(:general_settings), edit_admin_general_settings_path %>
      <% if Spree::Config[:override_actionmailer_config] %>
        <%= configurations_sidebar_menu_item t(:mail_methods), admin_mail_methods_path %>
      <% end %>
      <%= configurations_sidebar_menu_item t(:image_settings), edit_admin_image_settings_path %>
      <%= configurations_sidebar_menu_item t(:tax_categories), admin_tax_categories_path %>
      <%= configurations_sidebar_menu_item t(:tax_rates), admin_tax_rates_path %>
      <%= configurations_sidebar_menu_item t(:tax_settings), edit_admin_tax_settings_path %>
      <%= configurations_sidebar_menu_item t(:zones), admin_zones_path %>
      <%= configurations_sidebar_menu_item t(:countries), admin_countries_path %>
      <% if Spree::Config[:default_country_id] %>
        <%= configurations_sidebar_menu_item t(:states), admin_country_states_path(Spree::Config[:default_country_id]) %>
      <% end %>
      <%= configurations_sidebar_menu_item t(:payment_methods), admin_payment_methods_path %>
      <%= configurations_sidebar_menu_item t(:taxonomies), admin_taxonomies_path %>
      <%= configurations_sidebar_menu_item t(:shipping_methods), admin_shipping_methods_path %>
      <%= configurations_sidebar_menu_item t(:shipping_categories), admin_shipping_categories_path %>
      <%= configurations_sidebar_menu_item t(:inventory_settings), edit_admin_inventory_settings_path %>
      <%= configurations_sidebar_menu_item t(:analytics_trackers), admin_trackers_path %>
    <%= configurations_sidebar_menu_item t('spree_reviews.review_settings'), admin_review_settings_path %><li <%== ' class="active"' if controller.controller_name == 'editor_settings' %>><%= link_to t("rich_editor"), admin_editor_settings_path %></li>
<%= configurations_sidebar_menu_item t(:store_credits), admin_store_credits_url %><%= configurations_sidebar_menu_item t(:social_sharing_buttons), edit_admin_social_path %><%= configurations_sidebar_menu_item t('spree.blogs.settings.blogs'), admin_blogs_path %><%= configurations_sidebar_menu_item t('spree.blogs.settings.disqus'), edit_admin_disqus_settings_path %><%= configurations_sidebar_menu_item t(:bank_accounts), admin_bank_accounts_path %>
</ul>
  </nav>
<% end %>
